<div *ngIf="!datos">
    <br>
    <br>
    <br>
    <h3>Por favor espere mientras se carga la información.</h3>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div *ngIf="datos">
    <mat-card>
        <!--  <iframe id="output" width='100%' height='70%' src='#{pdfSrc}'></iframe>
        <pdf-viewer [src]="pdfSrc" fit-to-page="true" zoom="0.5" style="display: block;"></pdf-viewer>
        -->
        <iframe id="marco" width="100%" type="application/pdf" height="100%"></iframe>

    </mat-card>
</div>
<mat-card>
    <button (click)=" fin() " Mat-raised-button color="primary"> Finalizar peritaje de la bodega {{datos['warehouse_id']}}</button>
    <button (click)=" volver() " Mat-raised-button>volver</button>
</mat-card>