<div *ngIf="!datos">
    <br>
    <br>
    <br>
    <h3>Por favor espere mientras se carga la información.</h3>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div *ngIf="datos" style="height:100%; width:100%; overflow: scroll">
    <mat-card>
        <pdf-viewer [src]="pdfSrc" fit-to-page="true" zoom="0.5" style="display: block;"></pdf-viewer>

        <iframe id="marco" type="application/pdf" hidden></iframe>

    </mat-card>
</div>
<mat-card>
    <button *ngIf="datos" class="buttonX" (click)=" fin()" Mat-raised-button color="primary"> Finalizar peritaje de la bodega {{datos['warehouse_id']}}</button>
    <button class="buttonX" (click)="volver()" Mat-raised-button>Corregir</button>
</mat-card>