.maindiv {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.changeSelect {
    color: #ffffff;
    display: flex;
    padding: 2px;
    font-weight: 800;
    font-size: 13px;
    background-color: indigo;
    border-radius: 6px;
    border: 2px solid #310153;
    width: 100px;
}

.changeSelect:hover {
    color: #4b0082;
    background-color: #ffffff;
    cursor: pointer;
}

h2 {
    color: indigo;
}

a {
    color: indigo;
}

.holdNumber {
    font-size: 200px;
    color: indigo;
    align-self: center;
}

.buttonX {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: indigo;
    border-radius: 6px;
    border: 2px solid #310153;
}

.buttonX:hover {
    color: #4b0082;
    background-color: #ffffff;
    cursor: pointer;
}