<div class="maindiv">
    <mat-card>
        <h2>Bodega a peritar número:</h2>
        <a>Cambiar Bodega</a>
        <mat-select placeholder="Cambiar Bodega" [(ngModel)]="selected">
            <mat-option *ngFor="let bodega of fullbodegas" [value]="bodega">
                {{bodega}}
            </mat-option>
        </mat-select>
        <a class="holdNumber">{{selected}}</a>
        <br>
        <a class="buttonX" (click)="next($event)" mat-raised-button color="primary">
            Continuar
        </a>
    </mat-card>
</div>