<div class="toolbar">
    <table>
        <tr>
            <td style="text-align: right; vertical-align: bottom; width: 70px">
                <strong> {{kind}}:</strong>
            </td>
            <td style="text-align: left; vertical-align: bottom; ">{{infoUser.name}} {{infoUser.surname}}</td>
            <td rowspan="2" style="width: 40px;">
                <button mat-mini-fab color="primary" (click)="logout()"><mat-icon svgIcon="exit"></mat-icon></button>
            </td>
        </tr>
        <tr>
            <td style="text-align: right; vertical-align: top; width: 70px"> <strong>Código:</strong> </td>
            <td style="text-align: left; vertical-align: top;">{{infoUser.username}}</td>
        </tr>

    </table>
</div>