                .grid-item {
                    padding: 2px 2px 2px 2px;
                    font-size: 15px;
                    text-align: center;
                    font-weight: bold;
                }
                
                .demo-fill-remaining {
                    /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
                    flex: 1 1 auto;
                }
                
                .header {
                    display: flex;
                    align-items: center;
                }
                
                button {
                    color: #ffffff00;
                    cursor: pointer;
                }
                
                button:hover {
                    background-color: rgb(46, 1, 78);
                    cursor: pointer;
                }