<div class="search">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
    </mat-form-field>
</div>

<div *ngIf="!bodegas">
    <br>
    <h4>Por favor espere mientras se carga la información.</h4>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div class="maindiv mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="header">Bodega</mat-header-cell>
            <mat-cell *matCellDef="let bod" style="text-align: center;" (click)="rowClicked(bod.id)"> {{bod.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="user_id">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="header">Veedor</mat-header-cell>
            <mat-cell *matCellDef="let bod" (click)="rowClicked(bod.id)"> {{bod.user_id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="done">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="header">Estado</mat-header-cell>
            <mat-cell *matCellDef="let bod" (click)="rowClicked(bod.id)"> {{bod.done}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="payed">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="header">Pagado</mat-header-cell>
            <mat-cell *matCellDef="let bod" (click)="rowClicked(bod.id)"> {{bod.payed}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="link">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Pagar </mat-header-cell>
            <mat-cell *matCellDef="let bod" (click)="rowClicked(bod.id)">
                <button mat-icon-button click="">
                    <mat-icon svgIcon="pdfb" >
                    </mat-icon>
                </button>
            </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50, 100]" [showFirstLastButtons]="true">
    </mat-paginator>
</div>