<mat-card class="maindiv">
    <mat-tab-group>
        <mat-tab label="Sin Peritar">
            <app-admintable>

            </app-admintable>
        </mat-tab>
        <mat-tab label="En Peritación">
            <app-admintable>

            </app-admintable>
        </mat-tab>
        <br>
        <mat-tab label="Peritadas sin pago">
            <app-admintable>

            </app-admintable>
        </mat-tab>
        <mat-tab label="Peritadas y pagadas">
            <app-admintable>

            </app-admintable>
        </mat-tab>
    </mat-tab-group>
</mat-card>