.maindiv {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.inputs {
    min-width: 50%;
    max-width: 65%;
    width: 100%;
}

.buttonX {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: indigo;
    border-radius: 6px;
    border: 2px solid #310153;
}

.buttonX:hover {
    color: #4b0082;
    background-color: #ffffff;
    cursor: pointer;
}

.error {
    text-decoration-color: red;
    background-color: plum;
    color: red;
    font-size: 18px;
    padding: 15px;
    border-radius: 6px;
    border: 0.5px solid red;
}