<div class="maindiv">
    <div *ngIf="!data">
        <br>
        <br>
        <br>
        <h3>Por favor espere mientras se carga la información.</h3>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <mat-card *ngIf="data && flow != 3" style="text-align: center">
        <form [formGroup]="Form">
            <div>
                <a>
                    <table class="card" cellspacing="0">
                        <tr>
                            <td>
                                <mat-form-field class="inputs">
                                    <input matInput placeholder="Número de Bodega" disabled [value]="bod" autocomplete="nope">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="inputs">
                                    <input matInput placeholder="Código de acuerdo" disabled [value]="data.code" autocomplete="nope">
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <mat-form-field class="inputs">
                                    <input matInput placeholder="Nombre del Tenedor" disabled [value]="data.holder" autocomplete="nope">
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <mat-form-field class="inputs">
                                    <input matInput placeholder="Nombre del Perito" autocomplete="nope" required formControlName="perito">
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <mat-form-field class="inputs">
                                    <input matInput placeholder="Nombre del representante del Tenedor" autocomplete=" nope " formControlName="representante">
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <mat-form-field class="inputs ">
                                    <input matInput placeholder="Cantidad Peritada " type="number" autocomplete="nope" required formControlName="cantidadPeritada">
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <mat-form-field class="inputs ">
                                    <textarea matInput placeholder="Observaciones " matTextareaAutosize matAutosizeMinRows="5 " autocomplete="nope" formControlName="observaciones"></textarea>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                </a>
            </div>
            <div *ngIf="error" class="error">{{msgError}}</div>
            <br>
            <div><a class="buttonX" type="submit" (click)="addDataForm(Form.value)" Mat-raised-button cdkFocusInitial>Continuar</a></div>
        </form>
    </mat-card>
</div>
<app-finalbasic [senddata]="senddata" *ngIf="flow == 3"></app-finalbasic>